ul, li {
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.no-padding {
  padding: 0;
}

.spacing {
  margin: 1em 0 2em 0;
}

.btn-delete {
  padding: 6px 10px;
}

.form-control, .form-control[readonly] {
  border: none;
  background: #f5f5f5;
  box-shadow: none;

  &:focus{
    box-shadow: none;
  }
}
